- provide(:title, '')
.well.well-lg.text-center
	%h1
		%strong Welcome to the Demo for Sinny Rock App
	%h3
		%small
			This is the page for the
			%a{:href => "/"} Demo for Sinny Rock application.
	= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"
